<h1>Piano</h1>
<div class="list-group">
  <a (click)="aplicarSonido(1)" href="#" class="list-group-item list-group-item-action">
  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">
  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">
  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-info">
  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">
  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-dark">
  </a>
</div>
<audio controls>
  <source src="assets/audio/1.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
